<nav class="navbar">
  <ul class="menu">
    <li class="menu__item">
      <a routerLink="funcionarios">
        <button>
          Funcionários
        </button>
      </a>
      <ul class="submenu">
        <li class="submenu__item">
          <a routerLink="funcionarios/new">
            <button>
              Cadastrar
            </button>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu__item">
      <a routerLink="clientes">
        <button>
          Clientes
        </button>
      </a>
      <ul class="submenu">
        <li class="submenu__item">
          <a routerLink="clientes/new">
            <button>
              Cadastrar
            </button>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu__item">
      <a routerLink="projetos">
        <button>
          Projetos
        </button>
      </a>
      <ul class="submenu">
        <li class="submenu__item">
          <a routerLink="projetos/new">
            <button>
              Cadastrar
            </button>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu__item">
      <a routerLink="tarefas">
        <button>
          Tarefas
        </button>
      </a>
      <ul class="submenu">
        <li class="submenu__item">
          <a routerLink="tarefas/new">
            <button>
              Cadastrar
            </button>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu__item">
      <a routerLink="equipes">
        <button>
          Equipes
        </button>
      </a>
      <ul class="submenu">
        <li class="submenu__item">
          <a routerLink="equipes/new">
              <button>
              Cadastrar
            </button>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
