<section class="tarefas">
  <div class="tarefas__list">
    <div class="tarefas__list_header">
      <p>Titulo</p>
      <p>Projeto</p>
      <p>Funcionário</p>
      <p>Estimativa</p>
      <p>Status</p>
      <p>Ações</p>
    </div>
    <div class="tarefas__list_items">
      <div *ngFor="let tarefa of tarefas | async" class="tarefas__list_item">
        <p class="tarefas__list_item__titulo">{{ tarefa.Titulo }}</p>
        <p class="tarefas__list_item__projeto">{{ tarefa.Projeto }}</p>
        <p class="tarefas__list_item__funcionario">{{ tarefa.Funcionario }}</p>
        <p class="tarefas__list_item__estimativa">
          {{ tarefa.Estimativa }} horas
        </p>
        <p class="tarefas__list_item__status">{{ tarefa.Estado }}</p>
        <div class="tarefas__list_item__acoes">
          <a [routerLink]="[tarefa.Id_Tarefa, 'details']">
            <button class="tarefas__list_item__acoes_edit">
              <img
                class="tarefas__list_item__acoes_edit_icon"
                src="../../assets/user-pen-alt-svgrepo-com.svg"
                alt=""
              />
            </button>
          </a>
          <button
            class="tarefas__list_item__acoes_remove"
            (click)="removeTarefa(tarefa.Id_Tarefa)"
          >
            <img
              class="tarefas__list_item__acoes_remove_icon"
              src="../../assets/user-xmark-alt-svgrepo-com.svg"
              alt=""
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="deleteModal" class="modal">
  <div class="modal__content">
    <p class="modal__text">Confirmar exclusão?</p>
    <div class="modal__buttons">
      <button
        (click)="confirmaExclusao()"
        class="modal__button modal__button_confirm"
      >
        Confirmar
      </button>
      <button
        (click)="cancelaExclusao()"
        class="modal__button modal__button_cancel"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
